<html>
	<head>
		<title>Setup Zones</title>
	</head>
	
	<body>
		<h1>Setup Zones</h1>

		<div id='new_zone' style='background-color: lightblue;padding: 7px;border: solid;box-shadow: 5px 4px #63575761; '>
			<b> Add New Zone </b>

			<form id='new_zone' action='zones' method='post' class="collapsed-table" >
				Zone IP Address:  <input type='text' id='txt_ip_addr'/>
				Port:  <input type='text' id='txt_port'/><br>
				<input type='submit' value="Add Zone">
			</form>
		</div>

		<div id='existing_zones'>
			<br>	
			<b>Existing Zones </b>

			<table>
				<tr>
					<td><b>Zone Name</b></td>
					<td><b>IP Address</b></td>
					<td><b>Enabled</b></td>
					<td><b>Status</b></td>
				</tr>
				
				{% for item in zones %}
				<tr>
					<td> {{ item[1] }}</td> 
					<td> {{ item[2] }}</td> 
					<td> {{ item[5] }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>		
	
	</body>

</html>

